<!-- article.liquid -->

<div id="generated-article-liquid" class="page-container">

<!-- Article -->
<div class="article">
    <h2 class="article-title big-font">{{ article.title }} <span class="color-green">.</span> </h2>

  <img class="dark-shadow article-image" src="{{ article.image.src | img_url: '800x' }}" alt="">



  <div class="article-body textile">
    {{ article.content }}
  </div>

</div>
<!-- END Article -->


{%- for tag in article.tags -%}
{%- if tag contains 'product' -%}
  {% assign tag_clean = tag | remove: 'product_' | strip %}

  {% capture related_product_string %}{{related_product_string}}|{{ tag_clean }}{% endcapture %}

{%- endif -%}
{%- endfor -%}

{{ related_product_string }}
{% assign related_product_string_split = related_product_string | split: '|'   %}





  <div class="article-related-container grid-4">
    {%- for product in related_product_string_split -%}
    {%- if all_products[product] != blank-%}

    {%include "collection-item", product: all_products[product] %}

    {%- endif -%}
    {%- endfor -%}

  </div>
{%- comment %}
	This is a foo
{{ all_products["see-a-clean-future-air"].title }}
{% endcomment -%}
