<!-- article.liquid -->

<div id="generated-article-liquid" class="page-container project-container top-space__header ">


<!-- Article -->
<div class="article" data-handle="{{article.handle | replace: "projects/", ""}}">
    <!-- <h2 class="article-title big-font">{{ article.title }} <span class="color-green">.</span> </h2> -->

    <div class="project-airtable-container project-slider">

      <!-- <div class="article-image-wrapper project-slider-slide">

        <img class=" article-image" src="{{ article.image.src | img_url: '800x' }}" alt="">
      </div> -->

        {%- comment %}
        	This is a foo
          {% endcomment -%}
        <div class="article-image-wrapper project-slider-slide  dark-shadow">
          <div class=" article-image dark-shadow " style="background-image:url({{ article.image.src | img_url: '800x' }})">

          </div>
        </div>

    </div>


  <div class="article-body textile med-plus-font top-space top-space__mobile ">
    {{ article.content }}
  </div>

</div>

<div class="zoom-modal-container opacity-hidden no-pointer z-minus-10">
  <div class="mouse-follow">

  </div>

  <div class="zoom-close x-close z-plus-10">
    {% include "green-x" %}
  </div>
  <div class="zoom-slider  ">

  </div>

  <div class="zoom-slide-count big-font rotate-90">

  </div>

</div>
<!-- END Article -->


{%- comment %}
	This is a foo
{{ all_products["see-a-clean-future-air"].title }}
{% endcomment -%}
