<!-- article.liquid -->

<div id="generated-article-liquid" class="page-container project-container top-space">



<!-- Article -->
<div class="article" data-handle="{{ article.title | handleize }}">
    <!-- <h2 class="article-title big-font">{{ article.title }} <span class="color-green">.</span> </h2> -->

    <div class="project-airtable-container project-slider dark-shadow">

        <img class=" article-image project-slider-slide" src="{{ article.image.src | img_url: '800x' }}" alt="">

    </div>


  <div class="article-body textile">
    {{ article.content }}
  </div>

</div>

<div class="zoom-modal-container opacity-hidden no-pointer z-minus-10">
  <div class="zoom-close x-close z-plus-10">
    {% include "green-x" %}
  </div>
  <div class="zoom-slider dark-shadow">

  </div>

  <div class="zoom-slide-count big-font rotate-90">

  </div>

</div>
<!-- END Article -->


{%- comment %}
	This is a foo
{{ all_products["see-a-clean-future-air"].title }}
{% endcomment -%}
