<!-- blog.liquid -->
{% paginate blog.articles by 10 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %}

  {%- comment %}
  	This is a foo
  {% if blog.all_tags.size > 0 %}
    <h2>{{ 'blogs.general.categories' | t }}</h2>
    <ul>
      {% for tag in blog.all_tags %}
        {% if current_tags contains tag %}
          <li>{{ tag }}</li>
        {% else %}
          <li>{{ tag | link_to_tag: tag }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  {% endcomment -%}


{% comment %}
Article Previews
====================
{% endcomment %}
<div class="blog-flex-container article-wrapper page-container top-space__header">
  <ul class="article-list">
    {% for article in blog.articles %}
    {%- if forloop.last == false -%}
    <li class="nav-link__wrapper {% if link.active %}site-nav--active{% endif %}">
      <a href="{{ article.url }}" class="nav-link article-link  big-font"> {{ article.title }}</a><span class="nav-link__punctuation big-font">,</span>
    </li>
    {% else %}
    <li class="nav-link__wrapper {% if link.active %}site-nav--active{% endif %}">
      <a href="{{ article.url }}" class="nav-link article-link  big-font"> {{ article.title }}</a><span class="nav-link__punctuation big-font">.</span>
    </li>
    {%- endif -%}
    {% endfor %}

  </ul>
</div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}



{%- comment %}
	This is a foo
<div style="width:{% cycle '100%', '50%', '50%'%};">img</div>
{% endcomment -%}
