


<div class="cart-container page-container top-space__page">
<!-- cart.liquid -->
{% if cart.item_count > 0 %}



<div class="cart-container">


  {% section 'cart-copy' %}

  <form action="/cart" method="post" novalidate>
    <table class="responsive-table cart-table">
      <thead class="small--hide medium-up--hide">
        <tr>
          <th colspan="2">{{ 'cart.label.product' | t }}</th>
          <!-- <th>{{ 'cart.label.price' | t }}</th>
          <th>{{ 'cart.label.quantity' | t }}</th>
          <th>{{ 'cart.label.total' | t }}</th> -->
        </tr>
      </thead>
      <tbody>

        {% for item in cart.items %}

        {% comment %}

        Cart Item Template
        =====================
        The data-label attributes on <td> elements are mobile-friendly
        helpers used for responsive-table labels
        {% endcomment %}

          <tr class="responsive-table-row cart-border">

            <td class="cart-item" data-label="{{ 'customer.order.product' | t }}">

              {% if item.image != blank %}
                <a href="{{ item.url | within: collections.all }}">
                  <div class="cart-image-wrapper dark-shadow">
                    <div class="cart-image" style="background-image:url()">

                      {{ item.image.src | img_url: '300x' | img_tag: item.title }}
                    </div>

                  </div>
                </a>

              {% endif %}

             </td>
              <td class="title-wrapper">
                {% unless item.variant.title contains 'Default' %}
                  {% assign variant_title = item.variant.title %}
                {% endunless %}

                <a class="text-left cart-item-title color-black big-font" href="{{ item.url }}">{{item.product.vendor}}, <span class="italic">{{ item.product.title }}</span>, {{ variant_title }}</a>


                <span class="big-font item-quantity" for="updates_{{ item.key }}">Quantity ({{item.quantity}})  </span>
                <a onclick="removeThis(event);" href="javascript:void(0);" data-value="{{forloop.index}}" class="cart-remove-link  color-black big-font no-underline black-x">
                  {% include "black-x" %}
                </a>

              </td>

                <!-- <td data-label="{{ 'cart.label.quantity' | t }}">
                  <input type="number" name="updates[{{item.variant.id}}]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
                </td> -->

                <!-- <td data-label="{{ 'cart.label.quantity' | t }}">
                  <label class="big-font" for="updates_{{ item.key }}">Qauntity ({{item.quantity}})  </label>
                  <input class="visually-hidden" type="number" name="updates[{{item.variant.id}}]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
                </td> -->


                <td class="item-price big-font">
                  {% if item.original_line_price != item.line_price %}
                  <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                  {{ item.price | money }}
                  <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                  <s>{{ item.original_price | money }}</s>
                  {% else %}
                  <span class="">
                      {{ item.price | money }}
                  </span>

                  {% endif %}


                  {%- comment %}
                  	This is a foo
                    {% endcomment -%}
                  <!-- <a class="cart-remove-link btn cta cta-blue" href="/cart/change?line={{ forloop.index }}&quantity=0" rel="{{item.id}}">
                    {{ 'cart.general.remove' | t }}
                  </a> -->
                  <!-- <a onclick="removeThis(event);" href="javascript:void(0);" data-value="{{forloop.index}}" class="cart-remove-link  blue">Remove</a> -->
                  <script>
                    function removeThis(ev) {
                          var id = ev.target.dataset.value

                            $.ajax({
                              type: "POST",
                              url: '/cart/change.js',
                              data: 'quantity=0' + '&line=' + id,
                              dataType: 'JSON',
                              success: function(res){
                                console.log("SUCCESS");
                                console.log(res);
                                window.location.reload(true);

                              },
                              error: function(res){
                                console.log("ERROR");
                                console.log(res);
                              }
                            })
                          }
                  </script>


                </td>


          </tr>

        {% endfor %}
      </tbody>
    </table>


    {% if settings.cart_notes_enable %}
    <div class="note-container">
      <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}:</label>
      <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    </div>
    {% endif %}


  <div class="checkout-info-container ">
    <div class="subtotal-wrapper color-black big-font no-hover">
      <p class="big-font uppercase no-hover">{{ 'cart.general.subtotal' | t }}</p>
      <p  class="big-font ">{{ cart.total_price | money }}</p>

    </div>
      {% if cart.total_discounts > 0 %}
        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
      {% endif %}

      <div class="checkout-wrapper">
        <!-- <p class="big-font">{{ 'cart.general.shipping_at_checkout' | t }}</p> -->
        <p class="big-font">Shipping & Taxes calculated at...</p>
        <input type="submit" name="checkout" class="big-font color-green uppercase cursor-pointer checkout-button" value="Checkout">
      </div>
      <!-- <input class="btn cta cta-blue" type="submit" name="update" value="{{ 'cart.general.update' | t }}"> -->
      <!-- <a href="/cart/clear" class="btn cta cta-blue">Clear Cart</a> -->

    </div>

  </form>
</div>

{% else %}
<div class="cart-empty-container">


  {% section 'cart-copy' %}


  <h1 class='cart-border cart-message big-font'>Your cart is empty!</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies visually-hidden">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}


</div>
