{% paginate search.results by 10 %}

<div class="search-template-wrapper top-space page-container">

  <h1 class="search-result-header big-font">
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1>

  <form action="/search" method="get" role="search" class="search-form big-font">
    <label for="Search" class="label-hidden">
      <!-- {{ 'general.search.placeholder' | t }} -->
    </label>
    <input class="search-input big-font" type="search"
           name="q"
           id="Search"
           value="{{ search.terms | escape }}"
           placeholder="{{ 'general.search.placeholder' | t }}" autofocus>
    <button type="submit" id="SearchSubmit" class="btn visually-hidden">
      <!-- {% include 'icon-search' %} -->
      <span class="icon-fallback-text ">{{ 'general.search.submit' | t }}</span>
    </button>
  </form>


{% if search.performed %}
    <ul class="search-result-wrapper">
        {% if search.results_count == 2 %}
      <div class="product-collection-items grid-4">
      {% else %}
      <div class="product-collection-items grid-4">
      {% endif %}
      {% for item in search.results %}
        <li>


          {% if item.object_type == 'product' %}
          {%- comment %}
          	This is a foo
             {%include "collection-item", product: item %}
             {% endcomment -%}
             {% assign image_url =item.featured_image.src | img_url : '1000x'  %}

                 <div class="search-preview-container">
                   <a class="color-black" href="{{item.url}}">
                     <div class="article-preview-image dark-shadow" style=" background-image: url('https:{{ image_url }}')"></div>
                     <p class="med-font color-black article-info" >{{ item.title }}</>

                   </a>

                 </div>


          {% else %}



          {% assign featured_image = item.image | default: item.featured_image %}

          {% if featured_image != blank %}
            <!-- <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
              {{ featured_image | img_url: '240x240' | img_tag: featured_image.alt }}
            </a> -->
            {% assign image_url = featured_image.src | img_url : '1000x'  %}

          {% endif %}



          <div class="search-preview-container">
            <a href="{{item.url}}">
              <div class="article-preview-image dark-shadow" style=" background-image: url('https:{{ image_url }}')"></div>
              <p class="med-font color-black article-info" >{{ item.title }}</p>

            </a>

          </div>

          {% endif %}

        </li>
      {% endfor %}
    </div>
    </ul>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}

</div>
{% endpaginate %}
