{% paginate search.results by 10 %}

  <h1 class="search-result-header">
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1>

  <form action="/search" method="get" role="search">
    <label for="Search" class="label-hidden">
      {{ 'general.search.placeholder' | t }}
    </label>
    <input type="search"
           name="q"
           id="Search"
           value="{{ search.terms | escape }}"
           placeholder="{{ 'general.search.placeholder' | t }}">
    <button type="submit" class="btn">
      {% include 'icon-search' %}
      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
  </form>


{% if search.performed %}
    <ul>
        {% if search.results_count == 2 %}
      <div class="product-collection-items grid-2">
      {% else %}
      <div class="product-collection-items grid-3">
      {% endif %}
      {% for item in search.results %}
        <li>
          <!-- {% assign featured_image = item.image | default: item.featured_image %}
          {% if featured_image != blank %}
            <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
              {{ featured_image | img_url: '240x240' | img_tag: featured_image.alt }}
            </a>
          {% endif %} -->

          <!-- <h5>{{ item.title | link_to: item.url }}</h5> -->

          {% if item.object_type == 'product' %}
        
             {%include "collection-item", product: item %}



          {% else %}
            <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
          {% endif %}

        </li>
      {% endfor %}
    </div>
    </ul>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}

{% endpaginate %}
