<!-- announcement-bar.liquid -->

{% if settings.show_announcement %}
      {% if settings.home_page_only == false or template.name == 'index' %}
        <style>
          .announcement-bar {
            background-color: {{ settings.color_bg }};
          }
          .announcement-bar--link:hover {
            {% assign brightness = settings.color_bg | color_brightness %}

            {% if brightness <= 192 %}
              {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
              background-color: {{ settings.color_bg | color_lighten: lightenAmount }};
            {% else %}
              {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
              background-color: {{ settings.color_bg | color_darken: darkenAmount }};
            {% endif %}
          }
          .announcement-bar__message {
            color: {{ settings.color_text }};
          }
        </style>

        {% if settings.link == blank %}
          <div class="announcement-bar">
        {% else %}
          <a href="{{ settings.link }}" class="announcement-bar announcement-bar--link">
        {% endif %}

          <p class="announcement-bar__message">{{ settings.text | escape }}</p>

        {% if settings.link == blank %}
          </div>
        {% else %}
          </a>
        {% endif %}

      {% endif %}
    {% endif %}
