
{% assign category_string = ''  %}

{%- for tag in collection.tags -%}
    {%- if tag contains 'category' -%}
      {% assign collection_show = true  %}
    {%- endif -%}
{%- endfor -%}


{%- if collection_show == true -%}
{%- comment %}
	for show and hide
{% endcomment -%}
{%- endif -%}


<div class="collection-header big-font small--hide">
  <h1 class='color-black big-font'>{{collection.title}}<span class='color-green'>,</span></h1>

  {%- for tag in collection.tags  -%}
    {%- if tag contains 'category' -%}
    {%- if forloop.last != true -%}
    <h1 class='color-grey category-tag big-font' data-tag='{{tag}}' >{{tag | remove: 'category-' | capitalize}}<span class='color-green'>,</span></h1>
      {%- else  -%}
      <h1 class='color-grey category-tag big-font' data-tag='{{tag}}' >{{tag | remove: 'category-' | capitalize}}<span class='color-green'>.</span></h1>

    {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

</div>
