
{% assign category_string = ''  %}
{% assign counter = '' %}
{%- for tag in collection.tags -%}
    {%- if tag contains 'category' -%}
    {%  capture count %} {{counter}} tick, {% endcapture %}
      {% assign collection_show = true  %}
    {%- endif -%}
{%- endfor -%}

{%- comment %}
	HANDLE UNIQUENESS OF TAGS
{% endcomment -%}

{% assign total = count | split: ',' | size %}

{%- if collection_show == true -%}
{%- comment %}
	for show and hide
{% endcomment -%}
{%- endif -%}




<div class="collection-header big-font small--hide top-space__mobile">
  <h1 class='color-black cursor-pointer big-font collection-title'>{{collection.title}}<span class='color-green'>,</span>&nbsp</h1>
  {%- for tag in collection.tags  -%}
    {%- if tag contains 'category' -%}
    {%- if forloop.last != true -%}
    <h1 class='color-grey category-tag big-font ' data-tag='{{tag}}' > {{tag | remove: 'category-' | capitalize}}<span class='color-green'>,</span></h1>
      {%- else  -%}
      <h1 class='color-grey category-tag big-font' data-tag='{{tag}}' >  {{tag | remove: 'category-' | capitalize}}<span class='color-green'>.</span></h1>
    {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

</div>
