
{% assign counter = '' %}
{%- for tag in collection.tags -%}
    {%- if tag contains 'category' -%}
    {% capture tags %} {{tags}}+{{tag}} {% endcapture %}
    {%- endif -%}
{%- endfor -%}
{% assign unique_tags = tags | split: '+' | uniq | size %}
{%- if unique_tags >= 3 -%}
{% assign collection_show = true  %}
{%- endif -%}


{%- if collection_show -%}
<div class="collection-header big-font small--hide top-space__mobile">
  <h1 class='color-black cursor-pointer big-font collection-title'>{{collection.title}}<span class='color-green'>,</span>&nbsp</h1>
  {%- for tag in collection.tags  -%}
    {%- if tag contains 'category' -%}
    {%- if forloop.last != true -%}
    <h1 class='color-grey category-tag big-font ' data-tag='{{tag}}' > {{tag | remove: 'category-' | capitalize}}<span class='color-green'>,</span></h1>
      {%- else  -%}
      <h1 class='color-grey category-tag big-font' data-tag='{{tag}}' >  {{tag | remove: 'category-' | capitalize}}<span class='color-green'>.</span></h1>
    {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</div>

{%- endif -%}
