
{% assign category_string = ''  %}



<div class="collection-header big-font">
  <h1 class='color-black'>{{collection.title}}<span class='color-green'>,</span></h1>

  {%- for tag in collection.tags  -%}
    {%- if tag contains 'category' -%}
    {%- if forloop.last != true -%}
    <h1 class='color-grey category-tag' data-tag='{{tag}}' >{{tag | remove: 'category-' | capitalize}}<span class='color-green'>,</span></h1>
      {%- else  -%}
      <h1 class='color-grey category-tag' data-tag='{{tag}}' >{{tag | remove: 'category-' | capitalize}}<span class='color-green'>.</span></h1>

    {%- endif -%}
    {%- endif -%}
  {%- endfor -%}



</div>
