<!-- grid-responsive-navbar-primary.liquid -->


  <ul class="topnav desktop-nav small--hide" id="myTopnav-desktop--left">

    <li class="nav-link__wrapper home-link">
      <a href="/" class=" big-font ">
        One<span>,</span> All<span>,</span> Every<span>,</span>&nbsp
      </a>

    </li>

    {% for link in linklists[section.settings.main_linklist-primary].links %}
    {%- assign child_list_handle = link.title | handleize -%}
    {% if menus[child_list_handle].links != blank %}
    <li  class="dropdown site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
      <a href="{{ link.url }}" class="site-nav__link big-font dropbtn">
        {{ link.title }}
        {% include 'icon-arrow-down' %}
      </a>
      <ul class="site-nav__submenu dropdown-content">
        {% for childlink in menus[child_list_handle].links %}
          {% assign sub_child_handle = childlink.title | handleize  %}
          {%- if menus[sub_child_handle].links != blank -%}

                <li class=" site-nav--has-submenu child-with-sub {% if childlink.active %}site-nav--active{% endif %}">
                  <a href="{{ childlink.url }}" class="site-nav__link big-font">{{ childlink.title | escape }}  {% include 'icon-arrow-down' %}</a>
                  <ul class="sub-child-menu">
                    {%- for link in menus[sub_child_handle].links-%}
                      <li class ="dropdown">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </li>
            {%- else  -%}

            <li {% if childlink.active %}class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link big-font">{{ childlink.title | escape }}</a>
            </li>

          {%- endif -%}

        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li class="nav-link__wrapper {% if link.active %}site-nav--active{% endif %}">
      <a href="{{ link.url }}" class="nav-link big-font"> {{ link.title }}</a><span class="nav-link__punctuation big-font">,</span>
    </li>
    {% endif %}
    {% endfor %}
    <li class="nav-link__wrapper {% if link.active %}site-nav--active{% endif %}">
      <a href="/cart" class="nav-link big-font">Cart</a><span class="nav-link__punctuation big-font">,</span>
    </li>

    <li class="nav-link__wrapper {% if link.active %}site-nav--active{% endif %}">
      <a href="/search" class="nav-link big-font">Search</a><span class="nav-link__punctuation big-font">.</span>
    </li>



  </ul>
