<!-- grid-responsive-navbar-primary.liquid -->


  <ul class="topnav desktop-nav " id="myTopnav-desktop--right">
    {% for link in linklists[section.settings.main_linklist-secondary].links %}
    {%- assign child_list_handle = link.title | handleize -%}
    {% if menus[child_list_handle].links != blank %}
    <li  class="dropdown site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
      <a href="{{ link.url }}" class="site-nav__link dropbtn">
        {{ link.title }}
        {% include 'icon-arrow-down' %}
      </a>
      <ul class="site-nav__submenu dropdown-content">
        {% for childlink in menus[child_list_handle].links %}
          {% assign sub_child_handle = childlink.title | handleize  %}
          {%- if menus[sub_child_handle].links != blank -%}

                <li class=" site-nav--has-submenu child-with-sub {% if childlink.active %}site-nav--active{% endif %}">
                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}  {% include 'icon-arrow-down' %}</a>
                  <ul class="sub-child-menu">
                    {%- for link in menus[sub_child_handle].links-%}
                      <li class ="dropdown">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </li>
            {%- else  -%}

            <li {% if childlink.active %}class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
            </li>

          {%- endif -%}

        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li {% if link.active %}class="site-nav--active"{% endif %}>
      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
    </li>
    {% endif %}
    {% endfor %}

    <li>

          <a href="/cart" class="header-cart-link" >
            Cart
            <span class="cart-item-count"  data-cart-view="data-cart-view" rv-text="cart.item_count"> </span>
          </a>

    </li>


  </ul>

<!-- 
 <a id="menu-icon" href="javascript:void(0);" class="icon menu-icon small--show medium-up--hide" onclick="hamburgerToggle()">
   <div class="bar1"></div>
   <div class="bar2"></div>
   <div class="bar3"></div>
 </a> -->

{%- comment %}
	This is a foo
<script>
  function hamburgerToggle() {
    var x = document.getElementById("myTopnav-mobile");
    var y = document.getElementById("menu-icon");

    if (x.className === "topnav mobile-nav responsive small--show medium-up--hide") {

      x.className += " open";
      y.classList.toggle("change");
      $('html').addClass('body-lock')

    } else {
      x.classList.remove('open')
      y.classList.toggle("change");
      $('html').removeClass('body-lock')
    }
  }
</script>
{% endcomment -%}
