<!-- mobile-nav.liquid -->
<ul class="topnav mobile-nav responsive small--show medium-up--hide" id="myTopnav-mobile" style="background: {{section.settings.header_color}};">

{% for link in linklists[section.settings.mobile_linklist].links %}
  {%- assign child_list_handle = link.title | handleize -%}
  {% if menus[child_list_handle].links != blank %}
  <li  class="dropdown site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
    <a href="{{ link.url }}" class="site-nav__link dropbtn">
      {{ link.title }}
      {% include 'icon-arrow-down' %}
    </a>
    <ul class="site-nav__submenu dropdown-content">
      {% for childlink in menus[child_list_handle].links %}
      {% assign sub_child_handle = childlink.title | handleize  %}
      {%- if menus[sub_child_handle].links != blank -%}

            <li class=" site-nav--has-submenu child-with-sub {% if childlink.active %}site-nav--active{% endif %}">
              <a href="{{ childlink.url }}" class="site-nav__link dropbtn">{{ childlink.title | escape }}  {% include 'icon-arrow-down' %}</a>
              <ul class="sub-child-menu">
                {%- for link in menus[sub_child_handle].links-%}
                  <li class ="dropdown">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </li>
        {%- else  -%}

        <li class=" nav-mobile-li  {% if childlink.active %}site-nav--active{% endif %}">
          <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title }}</a>
        </li>

        {% endif %}

      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class=" nav-mobile-li  {% if childlink.active %}site-nav--active{% endif %}">
    <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
  </li>
  {% endif %}
  {% endfor %}

  <l class="nav-mobile-li">
    <a  class="site-nav__link" href="/account"> Account </a>
  </li>


</ul>
