<div class="nav-search-wrapper opacity-hidden nav-link ">


  <!-- <h1 class="search-result-header">
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1> -->

  <form action="/search" method="get" role="search" class="search-form big-font">
    <label for="Search" class="label-hidden">
      <!-- {{ 'general.search.placeholder' | t }} -->
    </label>
    <input class="search-input" type="search"
           name="q"
           id="Search"
           value="{{ search.terms | escape }}"
           placeholder="{{ 'general.search.placeholder' | t }}" autofocus>
    <button type="submit" id="SearchSubmit" class="btn visually-hidden">
      <!-- {% include 'icon-search' %} -->
      <span class="icon-fallback-text ">{{ 'general.search.submit' | t }}</span>
    </button>
  </form>




  </div>

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}
