<!-- product.liquid -->


<div id="product-block" class="product-section-block gutter" data-section-id="{{ section.id }}" data-section-type="product" {% if template == 'product' %}data-enable-history-state="true" {% endif %} itemscope itemtype="http://schema.org/Product"
  {%- if tag_gradient_style -%}  style="{{tag_gradient_style }};"   {%- endif -%}>

{%- comment %}
	This is a foo
{%- unless template == 'product' -%}
  {%- assign product = all_products[section.settings.product] -%}
{%- endunless -%}
{% endcomment -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% if product == empty %}
 {%- assign section_onboarding = true -%}
 {%- assign onboarding_title = 'homepage.onboarding.product_title' | t -%}
{% endif %}



 <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
 <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
 <meta itemprop="brand" content="{{ product.vendor }}">
 <meta itemprop="image" content="{{ featured_image | img_url: '800x' }}">
 <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

{% unless template == 'product' %}
  <div itemscope itemtype="http://schema.org/Product" id="FeaturedProductSection--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="true" data-enable-history-state="false">
  <div itemscope class=" " id="product-{{ product.id }}"  data-product-handle="{{product.handle}}">
{% endunless %}

<div class="grid-product-page product-block top-space__product ">


    <div id="product-content-block" class="product-content-block big-margin-bottom">

      {% if product.vendor != blank %}
      {% assign vendor = product.vendor %}
      {% endif %}
      <!-- <h1 class="big-font product-title z-plus-10">{{vendor}}<span class="color-green">,</span> {{ product.title }}<span class="color-green">,</span></h1> -->

      <div data-price-wrapper class="visually-hidden">
        <span data-product-price>
          From {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>


      <div class="rte font-oae product-description">
        <p class="font-oae small-font color-black">
          {{ product.description }}
        </p>
      </div>


    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
      <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">


      <div class="add-container top-space__mobile">
        {% include "add-to-cart-dynamic" %}
      </div>
    </div>

    {%- comment %}
    	This is a foo
      <div class="next-prev-product visually-hidden">
        {% include "next-prev-product" %}
      </div>

    {% if section.settings.show_share_buttons %}
      {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}
    </div>
    {% endcomment -%}

  </div>

  <div id="product-image-block" class="dark-shadow"  >
    {% if product.images.size > 0 %}
     <ul class="product-slider js-slider-hook  feature-id--{{ product.id }} " data-slider="product-slider" data-options="{
       contain: false,
       draggable: true,
       wrapAround: true,
       imagesLoaded: true,
       variableWidth:false,
       prevNextButtons: false,
       pageDots: false,
       autoPlay: 2000,
       imagesLoaded: true
     }">
       {% for image in product.images %}
       {% assign slide_ = img.src | img_url : '1500x'  %}

       {%- if forloop.index == 1 -%}
       <li class="slide-parent is-selected">
         <p class="product-slide-image  "  data-product-image-id="{{ image.id }}" style="background-image(erl({{slide_url}})" >
           <img class="opacity-hidden" src="{{ image.src | img_url: '2000x' }}" alt="{{ image.alt | escape }}">
         </p>
       </li>
         {%- else  -%}

         <li class="slide-parent ">
           <p  class="product-slide-image"  data-product-image-id="{{ image.id }}" style="background-image(erl({{slide_url}})" >
             <img class=" opacity-hidden" src="{{ image.src | img_url: '1000x' }}" alt="{{ image.alt | escape }}">
           </p>
         </li>
       {%- endif -%}
       {% endfor %}
     </ul>

   {% endif %}
  </div>


  <div class="zoom-modal-container opacity-hidden no-pointer z-minus-10 small--hide">

    <div class="mouse-follow">

    </div>

    <div class="zoom-close x-close z-plus-10">
      {% include "green-x" %}
    </div>
    {% if product.images.size > 0 %}
     <ul class="zoom-slider dark-shadow feature-id--{{ product.id }} " data-slider="zoom-slider">
       {% for image in product.images %}
       {% assign slide_url = image.src | img_url : '1500x'  %}

       <!-- <div class="zoom-slide-{{forloop.index}} dark-shadow  zoom-slide " style=" background-image: url('https:{{ slide_url }}')">

       </div> -->

       <img src=" {{slide_url}} " class="  zoom-slide-{{forloop.index}}   zoom-slide " alt="">


       {% endfor %}
     </ul>

   {% endif %}



     <div class="zoom-slide-count big-font rotate-90">

     </div>

  </div>

  <script type="text/javascript">

  $('.zoom-slider').flickity({

    draggable: false,
    wrapAround: true,
    imagesLoaded: true,
    variableWidth:false,
    prevNextButtons: false,
    pageDots: false,
    autoPlay: false,
    imagesLoaded: true,
    fade: 0,
    on: {
      ready: function(){
        console.log("READYU");
        $('.zoom-slide-count').text('1/' + this.cells.length)
      },
    change: function( index ) {
           $('.zoom-slide-count').text(index + 1 + '/' + this.cells.length)
      }
    }
  })

  </script>




  {% unless template == 'product' %}
</div>
</div>

{% endunless %}

  {% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ product.id }}" data-product-json>
      {{ product | json }}
    </script>

  {% endunless %}
  </div>

{%- comment %}
	This is a foo
  {%- if cart.item_count < 1 -%}
{% assign cart_link_hide_class =  'opacity-hidden' %}
  {%- endif -%}

    <div class="cart-link-container {{cart_link_hide_class}}">
      <a href="/cart" class="product-cart-link big-font color-black" >
        Cart
        <span class="color-green">(</span><span class="cart-item-count"  data-cart-view="data-cart-view" rv-text="cart.item_count"> </span><span class="color-green">)</span>
      </a>
    </div>

    {% endcomment -%}
