
<div class="collection-header big-font">

        {% if product.vendor != blank %}
        {% assign vendor = product.vendor %}
        {% endif %}


        {%- for tag in product.tags -%}
          {%- if tag contains 'artist' -%}
            {% assign artist = tag | replace: 'artist_', ''  %}
          {%- endif -%}
        {%- endfor -%}


        {%- if artist != blank -%}
          <h1 class="big-font product-title z-plus-10 "><a class="color-black" href="/blogs/artists/{{artist}}">{{vendor}}<span class="color-green ">,</span> <span class="italic">{{ product.title }}</span><span class="color-green"></span></a></h1>

          {%- else  -%}
          <h1 class="big-font product-title z-plus-10 ">{{vendor}}<span class="color-green ">,</span> <span class="italic">{{ product.title }}</span><span class="color-green"></span></h1>

        {%- endif -%}
</div>
