<!-- header.liquid -->

{% unless template == "index" %}
<div class="opacity-header opacity-hidden">

</div>

{% endunless %}
{%- comment %}
	This is a foo
  {% endcomment -%}
{% include 'minicart' %}
{% include 'announcement-bar' %}
{%- comment %}
	This is a foo
{% include "mobile-nav" %}
{% endcomment -%}





{%- if template == 'page.mission' -%}
  {% assign index_inline = 'display-inline' %}
  {% assign mission_width = 'mission-width'  %}
{%- endif -%}

<div class="logo-wrapper-container {{mission_width }}" {%- if template == 'index' -%}style="positon:fixed !important;"{%- endif -%}>
  <!-- <div class="logo-wrapper big-font vw-padding-bottom {{index_inline}} "> -->
  <div class="logo-wrapper big-font  {{index_inline}} ">
    {% include "logo-words" %}
  </div>
  {%- if template == 'collection' -%}
  {% include 'collection-header' %}
  {%- endif -%}
  {%- if template contains 'article'-%}
  {% include 'blog-header' %}
  {%- endif -%}
  {%- if template == 'product' -%}
  {% include 'product-header' %}
  {%- endif -%}



</div>



  <nav class="grid-responsive-navbar wrapper" role="navigation" style="background: {{section.settings.header_color}};">



    {%- if section.settings.main_linklist-primary -%}
      {% include "grid-responsive-navbar-primary"%}
    {%- endif -%}


{%- comment %}
	This is a foo
  <div class="logo mobile-logo small--show medium-up--hide">
    <h1 class="h1 gutter" itemscope itemtype="http://schema.org/Organization">
      <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
        {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
        srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
        alt="{{ section.settings.logo.alt | default: shop.name }}"
        itemprop="logo">
        {% else %}
        {{ shop.name }}
        {% endif %}
      </a>
    </h1>
  </div>



  <a href="/cart" class="TEST-2 header-cart-link medium-up--hide"  >
    Cart
    <span class="cart-item-count"  data-cart-view="data-cart-view" rv-text="cart.item_count"> </span>
  </a>
  {% endcomment -%}

  <div class="nav-close x-close big-font cursor-pointer hide">
    {% include "green-x" %}
  </div>


  {% include "nav-search" %}


  {%- comment %}
  	This is a foo
  {% include "grid-responsive-navbar-secondary"%}
  {% endcomment -%}

{%- comment %}
	Header Control Panel Snippet (Account, Login, Cart)
  <div class="">{% include "header-cp-nav" %}  </div>
  {% endcomment -%}




</nav>


</div>



{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 20,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 30
      },
      {
        "type": "link_list",
        "id": "main_linklist-primary",
        "label": "Primary Menu (left)",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mobile_linklist",
        "label": "Mobile Menu"
      },
      {
        "type": "color",
        "label": "Header Color",
        "id": "header_color",
        "default": "#322f78"
      }
    ]
  }
{% endschema %}
