<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <!-- FOUC FIX -->
  <style>html{visibility: hidden;opacity:0;}.mini-cart{display:none;}</style>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">


  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" />






  {%- include 'css-variables' -%}
  <!-- <link rel="stylesheet" href="./assets/fireStop.scss.liquid"> -->
  <!-- <link rel="stylesheet" href="./assets/styles.scss.css"> -->
  <link rel="stylesheet" href="{{ 'styles.scss.css' | asset_url }}">
  <!-- <link rel="stylesheet" href="{{ 'fireStop.scss.css' | asset_url }}"> -->



  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {% if template.directory == 'customers' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
{% endif %}


{{ 'option_selection.js' | shopify_asset_url | script_tag }}



<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/rivets-cart.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>

  <!-- {% include 'style-tags', layout: 'theme' %} -->
  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}

</head>

<body>


{%- if template == 'index' -%}
<script type="text/javascript">
  $('body').addClass('body-lock')
</script>

{%- endif -%}
  {%- if template == 'index' or template == 'collection' or template == "list-collections" or template == "cart" -%}
    {% assign index_style = 'index-style' %}
  {%- endif -%}


  {%- if template == 'index' -%}
    {% assign barba_namespace = 'homepage'  %}
  {% elsif template == 'product' %}
    {% assign barba_namespace = 'product'  %}
  {% elsif template == 'page' %}
    {% assign barba_namespace = 'page'  %}
  {% elsif template contains 'customers' %}
    {% assign barba_namespace = 'page'  %}
  {% elsif template == 'cart' %}
    {% assign barba_namespace = 'cart'  %}
  {% elsif template contains 'collection' %}
    {% assign barba_namespace = 'collection'  %}
  {% elsif template contains 'search' %}
    {% assign barba_namespace = 'collection'  %}
  {%- endif -%}

  <script type="text/javascript">
  var atUrl =  "{{ 'airtable.json' | asset_url }}"
  localStorage.setItem('atUrl', atUrl)
</script>




  <div id="barba-wrapper" class="">
    <div class="barba-container" data-namespace="{{barba_namespace}}">

        {% section 'header' %}


      <div class="main-container big-margin-bottom {{index_style}} ">
        {{ content_for_layout }}

        {%- if template != 'index' -%}
          <div class="nav-open-word big-font cursor-pointer small--hide js-menu-toggle    ">
            Menu
          </div>



          {%- if cart.item_count < 1 -%}
        {% assign cart_link_hide_class =  'opacity-hidden' %}
          {%- endif -%}

            <div class="cart-link-container {{cart_link_hide_class}}">
              <a href="/cart" class="product-cart-link big-font color-black" >
                Cart
                <span class="color-green no-hover">(</span><span class="cart-item-count"  data-cart-view="data-cart-view" rv-text="cart.item_count"> </span><span class="color-green no-hover">)</span>
              </a>
            </div>
        {%- endif -%}

        <a id="menu-icon" href="javascript:void(0);" class=" icon menu-icon small--show medium-up--hide js-menu-toggle" onclick="hamburgerToggle()" aria-label="mobile menu toggle">

          {% include "menu-icon" %}
          <!-- <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div> -->
        </a>


      </div>


      {%- comment %}
      	This is a foo
      {% section 'footer' %}
      {% endcomment -%}
    </div>
  </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" type="text/javascript"></script>

</html>
